<app-loading *ngIf="!gridReady"></app-loading>
<div *ngIf="noData">
  <div style="text-align: center; padding:30px;">
    <a class="waves-effect waves-light btn" routerLink="/"><i class="material-icons left">home</i> Home</a>
    <h3>{{noData}}</h3>
  </div>
 
</div>
<div class="container-fluid" *ngIf="gridReady && !noData">
  <div class="row">
    <div class="col s12">
      <a class="waves-effect waves-light btn" routerLink="/"><i class="material-icons left">home</i> Home</a>
      <app-global-data *ngIf="globalData" [data]="globalData"></app-global-data>
      <div class="row">
        <div class="col s12">
          <div [chart]="stock"></div>
        </div>
      </div>
      <app-k-grid  [gridData]="gridData"></app-k-grid>
      <!-- <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">   
                <ng-container matColumnDef="Date">
                  <th mat-header-cell *matHeaderCellDef>Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.Date | date:'dd-MM-yyyy'}} </td>
                </ng-container>   
                <ng-container matColumnDef="Cases">
                  <th mat-header-cell *matHeaderCellDef> Count </th>
                  <td mat-cell *matCellDef="let element"> {{element.Cases}} </td>
                </ng-container>    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClick(row)" [class.hidden]="row.Cases == 0"></tr>
              </table> -->
    </div>
  </div>



</div>